# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Claude local settings
.claude/

# Logs
*.log

# Local Netlify folder
.netlify

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
